<canvas width="600" height="400"></canvas>
  <div id="clearButtons">
      <input type="button" id="clearCanvas" value="Clear">
      <input type="button" id="fillCanvas">
  </div>
    <div class="controls">
        <ul>
          <button id="LoadButton" type="button" name="button">load</button>
          <button id="SaveButton" type="button" name="button">Save</button>
          <li class="red selected"></li>
          <li class="blue"></li>
          <li class="yellow"></li>
        </ul>
        <button id="revealColorSelect" type="button" >New Color</button>
          <div id="colorSelect">
              <span id="newColor"></span>
              <div class="sliders">
                <p>
                  <label for="red">Red</label>
                  <input id="red" name="red" type="range" min=0 max=225 value=0>
                </p>
                <p>
                  <label for="green">Green</label>
                  <input id="green" name="green" type="range" min=0 max=225 value=0>
                </p>
                <p>
                  <label for="blue">Blue</label>
                  <input id="blue" name="blue" type="range" min=0 max=225 value=0>
                </p>
                <p>
                  <label for="opacity">OPA</label>
                  <input id="opacity" name="opacity" type="range" min=0 max=1 step = 0.1 value= 1>
                </p>
              </div>
              <div>
                <button type="button" id="addNewColor">Add Color</button>
              </div>
